## Data exploring

Setup

In [23]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

In [24]:
df = pd.read_csv("fcc-forum-pageviews.csv", index_col="date")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1304 entries, 2016-05-09 to 2019-12-03
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   1304 non-null   int64
dtypes: int64(1)
memory usage: 20.4+ KB

#### Cleaning data 2.5% bottom and 2.5% top

In [25]:
mask = (df["value"] >= df["value"].quantile(0.025)) & (
    df["value"] <= df["value"].quantile(0.975)
)
df[mask]

             value
date
2016-05-19   19736
2016-05-26   18060
2016-05-27   19997
2016-05-28   19044
2016-05-29   20325
...            ...
2019-11-24  138875
2019-11-29  171584
2019-11-30  141161
2019-12-01  142918
2019-12-03  158549

[1238 rows x 1 columns]